.widget {
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
  margin: auto;
}

.widget .left,
.widget .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget .left .title,
.widget .right .title {
  font-weight: bold;
  font-size: 14px;
  color: rgb(160, 160, 160);
}

.widget .left .pop {
  font-weight: bold;
  font-size: 14px;
  color: rgb(160, 160, 160);
  font-size: 1.5rem;
}

.widget .left .counter,
.widget .right .counter {
  font-size: 28px;
  font-weight: 300;
}

.widget .left .icon,
.widget .right .icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}

@media (max-width: 1175px) {
  .widget {
    width: 90%;
  }
}

.gender-counts {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 5px;
}

.gender-counts span {
  display: flex;
  align-items: center;
}

.gender-counts svg {
  margin-right: 2px;
}
